.combo-box{-fx-border-width: 0.5; -fx-border-color: transparent}
.cell{-fx-background-color: #FFFFFF; -fx-text-fill: #000000}
.arrow-button{-fx-background-color: #FFFFFF}
.arrow{-fx-background-color: #808080}
.combo-box-popup .cell{-fx-background-color: #FFFFFF; -fx-text-fill: #000000}
.combo-box-popup .cell: hover{-fx-background-color: #BBBBBB; -fx-text-fill: #000000}
.combo-box-popup .cell: selected{-fx-background-color: #BBBBBB; -fx-text-fill: #000000}